prune docs
prune examples
prune tests
prune .github
exclude CONTRIBUTING.md
exclude DevelopersGuide.md
exclude MANIFEST.in
exclude requirements.txt
exclude requirements_dev.txt
exclude requirements_opt.txt
exclude .gitignore
