openpyxl

welly == 0.4.8

# There is an open PR for striplog
git+https://github.com/Leguark/striplog.git

segyio
matplotlib
pyvista

imageio
scipy
shapely
requests
ezdxf
trimesh # to fix dxf meshes
pooch
netcdf4
scooby

# Geospatial libraries
geopandas
rasterio