# GLOBAL REQUIREMENTS.
-r requirements.txt
-r requirements_opt.txt
-r requirements_opt_geospatial.txt

# FOR DOCUMENTATION
sphinx~=3.5
sphinx_gallery
sphinx_rtd_theme
sphinx_automodapi
jinja2<3.1

# FOR TESTING
pytest
pytest-cov
