# Currently xlrd 2 breaks things
xlrd~=1.2 # For reading xlsx

# There is an open PR for striplog
git+https://github.com/Leguark/striplog.git

welly >= 0.4.8
segyio
matplotlib
pyvista
geopandas
rasterio
imageio
scipy
shapely
requests
ezdxf
trimesh # to fix dxf meshes
pooch
netcdf4
scooby
