openpyxl

welly

# There is an open PR for striplog
# git+https://github.com/Leguark/striplog.git
striplog

segyio
matplotlib
pyvista

imageio
scipy
shapely
requests
ezdxf

# Importing dxf
trimesh # to fix dxf meshes
networkx

pooch
netcdf4
scooby

omfvista

python-dotenv